---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/1507GitCommitTest/following?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1446085991'
      Etag:
      - W/"2b2f5c419936967fea56c94cb1e48a5b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 1f940dea396a2b997081
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jphoenix86","id":8015081,"avatar_url":"https://avatars.githubusercontent.com/u/8015081?v=3","gravatar_id":"","url":"https://api.github.com/users/jphoenix86","html_url":"https://github.com/jphoenix86","followers_url":"https://api.github.com/users/jphoenix86/followers","following_url":"https://api.github.com/users/jphoenix86/following{/other_user}","gists_url":"https://api.github.com/users/jphoenix86/gists{/gist_id}","starred_url":"https://api.github.com/users/jphoenix86/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jphoenix86/subscriptions","organizations_url":"https://api.github.com/users/jphoenix86/orgs","repos_url":"https://api.github.com/users/jphoenix86/repos","events_url":"https://api.github.com/users/jphoenix86/events{/privacy}","received_events_url":"https://api.github.com/users/jphoenix86/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 29 Oct 2015 01:55:20 GMT
- request:
    method: get
    uri: https://api.github.com/users/jphoenix86/events?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1446085991'
      Last-Modified:
      - Wed, 28 Oct 2015 18:14:49 GMT
      Etag:
      - W/"2298f96e26f577daeafb91baccf086fd"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 1f940dea396a2b997081
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8015081/events?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e&page=2>;
        rel="next", <https://api.github.com/user/8015081/events?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3286275847","type":"PushEvent","actor":{"id":8015081,"login":"jphoenix86","gravatar_id":"","url":"https://api.github.com/users/jphoenix86","avatar_url":"https://avatars.githubusercontent.com/u/8015081?"},"repo":{"id":44993375,"name":"jphoenix86/tribes","url":"https://api.github.com/repos/jphoenix86/tribes"},"payload":{"push_id":844802952,"size":12,"distinct_size":1,"ref":"refs/heads/master","head":"dd792849261f47c8e0db1be3d3e8416eb9b4c25c","before":"2c80d47ac2d4ab47f73c599d43d9d4a8e4505430","commits":[{"sha":"b877c17bcbfd0461db41d8da46412749740cd029","author":{"email":"jpholzmann@gmail.com","name":"philmphoenix"},"message":"Adds
        coveralls and simplecov for test coverage.","distinct":false,"url":"https://api.github.com/repos/jphoenix86/tribes/commits/b877c17bcbfd0461db41d8da46412749740cd029"},{"sha":"9e708f964cdbea0ee576569fbdc88b10bcd5384a","author":{"email":"jpholzmann@gmail.com","name":"philmphoenix"},"message":"Changes
        implmentation over to service instead of living in user.","distinct":false,"url":"https://api.github.com/repos/jphoenix86/tribes/commits/9e708f964cdbea0ee576569fbdc88b10bcd5384a"},{"sha":"215906ac1b56b9d9c3c1fcb2cba2bca81dfa70a2","author":{"email":[...]
