---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/1507GitCommitTest/followers?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1446085991'
      Etag:
      - W/"604326c76caf4796421225a6ddc01867"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 1f940dea396a2b997081
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"bad6e","id":10092063,"avatar_url":"https://avatars.githubusercontent.com/u/10092063?v=3","gravatar_id":"","url":"https://api.github.com/users/bad6e","html_url":"https://github.com/bad6e","followers_url":"https://api.github.com/users/bad6e/followers","following_url":"https://api.github.com/users/bad6e/following{/other_user}","gists_url":"https://api.github.com/users/bad6e/gists{/gist_id}","starred_url":"https://api.github.com/users/bad6e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bad6e/subscriptions","organizations_url":"https://api.github.com/users/bad6e/orgs","repos_url":"https://api.github.com/users/bad6e/repos","events_url":"https://api.github.com/users/bad6e/events{/privacy}","received_events_url":"https://api.github.com/users/bad6e/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 29 Oct 2015 01:49:28 GMT
recorded_with: VCR 2.9.3
