---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/1507GitCommitTest/following?access_token=891bef4db51f9526e0cbd4d82c1a1fe09a15cd6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1446085991'
      Etag:
      - W/"2b2f5c419936967fea56c94cb1e48a5b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 1f940dea396a2b997081
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jphoenix86","id":8015081,"avatar_url":"https://avatars.githubusercontent.com/u/8015081?v=3","gravatar_id":"","url":"https://api.github.com/users/jphoenix86","html_url":"https://github.com/jphoenix86","followers_url":"https://api.github.com/users/jphoenix86/followers","following_url":"https://api.github.com/users/jphoenix86/following{/other_user}","gists_url":"https://api.github.com/users/jphoenix86/gists{/gist_id}","starred_url":"https://api.github.com/users/jphoenix86/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jphoenix86/subscriptions","organizations_url":"https://api.github.com/users/jphoenix86/orgs","repos_url":"https://api.github.com/users/jphoenix86/repos","events_url":"https://api.github.com/users/jphoenix86/events{/privacy}","received_events_url":"https://api.github.com/users/jphoenix86/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 29 Oct 2015 01:49:28 GMT
recorded_with: VCR 2.9.3
