body {
  height: 100%;
  width: 100%;
  background-color: #1B3C59;
  background-size: cover;
  position: relative;
  padding: 0 0 30px;
}

.container-home {
  background-color: #1B3C59;
  min-height: 100%;
  padding-top: 100px;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: #F8BB44;
}

h3.home {
  font-size: 40px;
  color: #F8BB44;
}


a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}

#tables {
  display: inline-block
}

footer {
  padding-top: 75px;
  color: #F8BB44;
}
