<%= render partial: "layouts/navbar" %>

<div class="container-fluid container-home">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="home">Welcome to Git Commit</h1>
      <h2 class="home">A Personalized Github Tracker.</h2>
      <%= link_to "Login with Github", login_path, class: "btn btn-lg btn-default btn-home" %>
    </div>
  <div class="col-md-2"></div>
</div>


